<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    main {
      padding: 20px;
      text-align: center;
    }

  </style>
</head>
<body>
  <%- include("components/header",{username:username}) %>
  <main>
    <h2>Get in Touch</h2>
    <div>
        <b>Email:</b>example@gmail.com<br><br>
        <b>LinkedIn:</b>example/hk02/linkedin.com<br>
    </div>
  </main>
</body>
</html>
