<!DOCTYPE html>
<html>
<head>
  <title>My TODO Home Page</title>
  <!-- Add your preferred CSS styles here -->
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    

    main {
      padding: 20px;
      text-align: center;
    }
  </style>
</head>
<body>

  <%- include("components/header",{username:username}) %>
  <main>
    <h2>Welcome to TODO Home</h2>
    <!-- Add your content here -->
  </main>
</body>
</html>
